<div class="mb-4">
  <section id="content">
    <div class="container-fluid content-bg-img">
    </div>
  </section>
</div>

<div class="py-4">
  <section id="tickets">
    <div class="container">
      <h1>TICKETS</h1>
      <p class="lead">
        Zinniaでは、現在チケット受付を行っている公演に限り、公演チケットの予約もできます。まずは所属のサークル員から電子チケットをもらい、そちらに記載のチケットIDを入力することで、チケットの予約を行うことができます。
        予約完了後、メールにてQRコードを送付致します。公演当日は入場の際にそのQRコードが必要となりますので、当日まで保管しておいてください。
      </p>
      <%= link_to "チケット取得画面へ", "#", class: "btn btn-outline-primary" %>
      <%= link_to "チケット作成画面へ", "#", class: "btn btn-outline-primary" %>
    </div>
  </section>
</div>

<div class="py-4">
  <section id="practice">
    <div class="container">
      <h1>PRACTICE</h1>
      <p class="lead">
        練習日程の自動作成を行うことができます。
      </p>
      <%= link_to "練習日程作成画面へ", "#", class: "btn btn-outline-primary" %>
      <%= link_to "練習日程取得画面へ", "#", class: "btn btn-outline-primary" %>
    </div>
  </section>
</div>

<div class="py-4">
  <section id="latestposts">
    <div class="container">
      <h1>LATEST POSTS</h1>
      <p>大学ダンスサークルの活動状況や公演情報が閲覧できます。</p>
      <p>特にどのサークルに入ろうか悩んでいる新入生やOB・OGさん、<p>
      <p>保護者の方々は要チェック！</p>

      <div class="row">
        <div class="col-md-3">
          <div class="card mb-3">
            <img src="https://cdn.sanity.io/images/oxekkfaj/production/7d43bc17b75273266f96ad32f92316d9639e3744-3000x2000.jpg?w=2000" alt="" class="img-fluid">
            <div class="card-body d-flex justify-content-between">
              <h4 class="card-title">早稲田大学SesSion</h4>
              <p class="lead">
                夏公演『ONES』
                date: 2020/11/10, 11
                place: 江戸川区総合文化センター
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3">
            <img src="https://cdn.sanity.io/images/oxekkfaj/production/7d43bc17b75273266f96ad32f92316d9639e3744-3000x2000.jpg?w=2000" alt="" class="img-fluid">
            <div class="card-body d-flex justify-content-between">
              <h4 class="card-title">早稲田大学SesSion</h4>
              <p class="lead">
                夏公演『ONES』
                date: 2020/11/10, 11
                place: 江戸川区総合文化センター
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3">
            <img src="https://cdn.sanity.io/images/oxekkfaj/production/7d43bc17b75273266f96ad32f92316d9639e3744-3000x2000.jpg?w=2000" alt="" class="img-fluid">
            <div class="card-body d-flex justify-content-between">
              <h4 class="card-title">早稲田大学SesSion</h4>
              <p class="lead">
                夏公演『ONES』
                date: 2020/11/10, 11
                place: 江戸川区総合文化センター
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card mb-3">
            <img src="https://cdn.sanity.io/images/oxekkfaj/production/7d43bc17b75273266f96ad32f92316d9639e3744-3000x2000.jpg?w=2000" alt="" class="img-fluid">
            <div class="card-body d-flex justify-content-between">
              <h4 class="card-title">早稲田大学SesSion</h4>
              <p class="lead">
                夏公演『ONES』
                date: 2020/11/10, 11
                place: 江戸川区総合文化センター
              </p>
            </div>
          </div>
        </div>
      </div>
      <%= link_to "投稿画面へ", "#", class: "btn btn-outline-primary" %>
      <%= link_to "投稿一覧へ", :posts, class: "btn btn-outline-primary" %>
    </div>
  </section>
</div>

<div class="py-4">
  <section id="hallinfo">
    <div class="container">
      <h1>HALL INFO</h1>
      <p class="lead">
        ダンス公演の会場やリハ施設の検索が可能です。
        関東圏でホールや体育館をお探しの方は要チェック！
      </p>
      <img src="https://cdn.sanity.io/images/oxekkfaj/production/7d43bc17b75273266f96ad32f92316d9639e3744-3000x2000.jpg?w=2000" alt="" class="col-md-4">
      <%= link_to "検索画面へ", "#", class: "btn btn-outline-primary" %>
    </div>
  </section>
</div>