<% @page_title = "ログイン" %>
<h1><%= @page_title %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session, local: true) do |form| %>

      <%= form.label :mail, "メールアドレス" %>
      <%= form.text_field :mail, class: 'form-control' %>

      <%= form.label :password, "パスワード" %>
      <%= form.password_field :password, class: 'form-control' %>

      <%= form.label :remember_me, class: "checkbox inline" do %>
        <%= form.check_box :remember_me %>
        <span>次回からログインを省略する</span>
      <% end %>

      <%= form.submit "ログイン", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>