<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
    <%= render "shared/errors", model: @user, attribute: :name %>
  
    <%= form.label :mail %>
    <%= form.text_field :mail, class: 'form-control' %>
    <%= render "shared/errors", model: @user, attribute: :name %>
  
    <%= form.label :password %>
    <%= form.password_field :password, class: 'form-control' %>
    <%= render "shared/errors", model: @user, attribute: :password %>
  
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: 'form-control' %>
    <%= render "shared/errors", model: @user, attribute: :password_confirmation %>
  </div>
</div>
