<div class="container p-2">
  <div class="form-group row pb-3">
    <%= form.label :circle_name, class: "col-md-2 col-form-label" %>
    <div class="col-md-5">
      <%= form.text_field :circle_name, class: 'form-control', id: "name" %>
    </div>
    <%= render "shared/errors", model: @post, attribute: :circle_name %>
  </div>

  <div class="form-group row py-3">
    <%= form.label :university, class: "col-md-2 col-form-label" %>
    <div class="col-md-5">
      <%= form.text_field :university, class: 'form-control', id: "university" %>
    </div>
    <%= render "shared/errors", model: @post, attribute: :university %>
  </div>

  <div class="form-group row py-3">
    <%= form.label :body, class: "col-md-2 col-form-label" %>
    <div class="col-md-9">
      <%= form.text_area :body, class: 'form-control', rows: "8", id: "body" %>
    </div>
    <%= render "shared/errors", model: @post, attribute: :body %>
  </div>

  <div class="form-group row py-3">
    <%= form.label :new_picture, class: "col-md-2 col-form-label" %>
    <div class="col-md-9">
      <%= form.file_field :new_picture, class: 'form-control', id: "picture" %>
    </div>
    <% if @post.picture.attached? %>
      <div>
        <%= image_tag @post.picture.variant(resize: "128x128") %>
        <%= form.check_box :remove_picture %>
        <%= form.label :remove_picture %>
      </div>
    <% end %>
    <%= render "shared/errors", model: @post, attribute: :new_picture %>
  </div>
</div>
