<% @page_title = "投稿編集" %>
<h1><%= @page_title %></h1>

<p><%= link_to "投稿詳細に戻る", @post %></p>

<%= form_for @post do |form| %>
  <%= render "form", form: form %>
  <div><%= form.submit, "更新", class: "btn btn-primary" %></div>
<% end %>