<% @page_title = "投稿一覧" %>
<h1><%= @page_title %></h1>

<% if @posts.present? %>
  <table class="list">
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.university, "#" %></td>
          <td><%= link_to post.circle_name, "#" %> | </td>
          <td>
            <%= link_to "編集", [:edit, post] %> |
            <%= link_to "削除", post, method: :delete, data: { confirm: "本当に削除しますか？" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>投稿がありません。</p>
<% end %>