<% @page_title = "投稿詳細" %>
<h1><%= @page_title %></h1>

<div class="toolbar">
  <%= link_to "投稿一覧へ戻る", :posts %>
</div>

<h5><%= @post.university %></h5>
<h5><%= @post.circle_name %></h5>

<%= simple_format(@post.body) %>

<%= render "footer", post: @post %>