<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>
    <div id="container">
      <header>
        <%= image_tag "logo.gif", size: "272x48", alt: "Zinnia" %>
        <nav class="user">
          <%= link_to "Top", :root %>
        </nav>
      </header>
      <main>
        <%= yield %>
      </main>
      <footer>
        <%= render "shared/footer" %>
      </footer>
    </div>
  </body>
</html>