<%= @page_title = "アカウント情報の編集" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "My Ptofileに戻る", :account %></div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">  
    <%= form_for @user, as: "account", url: :account, local: true do |form| %>

    <%= form.label :name, "ユーザー名" %>
    <%= form.text_field :name, class: 'form-control' %>
    <%= render "shared/errors", model: @user, attribute: :name %>

    <%= form.label :mail, "メールアドレス" %>
    <%= form.text_field :mail, class: 'form-control' %>
    <%= render "shared/errors", model: @user, attribute: :mail %>

    <%= form.submit "更新", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>