<div class="title-bg mb-5 text-center">
  <% @page_title = "My Profile" %>
  <%= @page_title %>
</div>

<%= link_to "アカウント情報の編集", :edit_account %>
<%= link_to "パスワードの編集", :edit_password %>

<table class="attr">
  <tr>
    <th>ユーザー名</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.mail %></td>
  </tr>
</table>
